<div class="content-container flex">
  <!--<div class="splash-container">
    <div class="splash">

    </div>
  </div>-->
  <hr class="hr">
  <div class="info-container">
    <div>
      <div *ngFor="let infoGraphic of infoGraphics" class="info-content">
        <div>
          <img src="{{infoGraphic.imagePath}}" />
        </div>
        <div>
          <h2>{{infoGraphic.header}}</h2>
          <p>{{infoGraphic.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr">
  <div class="testimonials-container">
    <div class="testimonials">
      <h1>What people are saying about AquaFit</h1>
      <div *ngFor="let testimonial of testimonials" class="flex testimonial">
        <img src="{{testimonial.imagePath}}" />
        <div>
          <h2>{{testimonial.header}}</h2>
          <p>{{testimonial.description}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
