@import '../../styles.scss';
@import '../../colors.scss';

.footer-container {
    width: 100%;
    background-color: $dark-blue;
    justify-content: center;
}

.footer-content {
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.footer-content div {
    padding: 10px;
}

.footer-content img {
    height: 100px;
}

.footer-content a, .footer-content a:link, .footer-content a:visited {
    color: $blue;
    text-decoration: none;
}

.footer-content h2 {
    color: $green;
    font-size: 18px;
    font-weight: bold;
}

.footer-content p {
    color: white;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .footer-content {
    justify-content: left;
    align-items: self-start;
    flex-direction: row;
    width: $content-width;
  }
}
