@import '../../colors.scss';

.content-container {
  flex-direction: column;
  background: url('../../assets/pool-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: flex;
}

.testimonials, .splash {
  width: 100%;
}

.testimonials {
  background: white;
  padding-left: 10px;
}

.testimonials h1 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    color: $pink;
    margin-top: 30px;
}

.testimonial:nth-child(2n+1) {
    justify-content: flex-end;
}

.testimonials h2 {
  color: $green;
  font-size: 18px;
  font-weight: bold;
}

.testimonials img {
  height: 75px;
  width: 60px;
  border-radius: 50%;
  margin: 10px;
}

.testimonials p {
    margin: 10px;
    text-indent: 10px;
}

@media only screen and (min-width: 768px) {
    .content-container {
        background: url('../../assets/pool-background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .splash-container {
        background: none;
        -webkit-background-size: unset;
        -moz-background-size: unset;
        -o-background-size: unset;
        background-size: unset;
    }
     
    .testimonials p {
        font-size: 18px;
        text-indent: 20px;
        width: 600px;
    }

    .testimonials h1 {
        font-size: 30px;
    }

    .testimonials h2 {
      font-size: 25px;
    }

    .testimonials img {
        height: 100px;
        width: 80px;
    }
}
