<div class="content-container flex">
    <!--<div class="splash">

    </div>
  </div>
  <hr class="hr">
  
  <hr class="hr">
  <div class="testimonials-container">
    <div class="testimonials">
      <h1>What people are saying about AquaFit</h1>
      <div *ngFor="let testimonial of testimonials" class="flex testimonial">
        <img src="{{testimonial.imagePath}}" />
        <div>
          <h2>{{testimonial.header}}</h2>
          <p>{{testimonial.description}}</p>
        </div>
      </div>
    </div>-->
    <router-outlet></router-outlet>
  </div>
