<div class="footer-container flex">
  <div class="footer-content flex">
    <div>
      <img src="../../assets/aqua-fit-logo-w-name-horizontal.png" />
    </div>
    <div>
      <h2>Credits</h2>
      <p>Website developed by <a href="https://www.linkedin.com/in/ericaputsche/" target="_blank">Erica Putsche</a></p>
      <p>Contact icons created by <a href="https://www.flaticon.es/iconos-gratis/contacto" title="contacto iconos">okaigraphic - Flaticon</a></p>
      <p>Clock icons created by <a href="https://www.flaticon.com/free-icons/clock" title="clock icons">Kirill Kazachek - Flaticon</a></p>
      <p>Location icons created by <a href="https://www.flaticon.es/iconos-gratis/ubicacion" title="ubicación iconos">rukanicon - Flaticon</a></p>
      <p>Lotus icons created by <a href="https://www.flaticon.com/free-icons/lotus" title="lotus icons">Freepik - Flaticon</a></p>
    </div>
  </div>
</div>
