@import '../../../../styles.scss';

.outer-container {
  justify-content: center;
  min-height: 100%;
  align-items: stretch;
  min-height: calc(100% - 45px);
}

.class-container, .client-container {
  justify-content: start;
  width: 20vw;
  min-height: 100%;
  align-items: start;
  padding: 0 30px;
  background-color: $pale-blue;
}

.class-container {
  border-left: solid 4px $dark-blue;
}

.client-container {
  border-right: solid 4px $dark-blue;
}

h1 {
  margin: 0px;
  color: $green;
  font-weight: bold;
}

.green {
  color: $green;
}

.red {
  color: $error;
  font-weight: bold;
}

.client-list p, .class-list a {
  font-size: 16px;
  margin-bottom: 0;
}

.class-list a {
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}

.pink {
  color: $pink;
  font-size: 16px !important;
}

.add-button {
  margin-left:20px;
}

.class-header {
  margin-top: 10px;
  border-bottom: 2px solid $dark-blue;
  width: 100%;
}

.form-group h1 {
  font-size: 22px;
  font-weight: bold;
  color: $pink;
}