@import '../../../../colors.scss';

h1 {
  text-align: center;
  margin-top: -2px;
  margin-bottom: 0px;
  color: $blue;
}

p {
  text-align: center;
  width: 230px;
  margin-top: 15px;
}

a {
  color: $pink;
}