<div class="inner-content-container">
  <div class="form">
    <h1 class="light-text-shadow">Register</h1>
    <p>To register, use the email associated with your client account.</p>
    <app-custom-input [id]="'usr'" [label]="'Username'" [type]="textInput" [required]="true"></app-custom-input>
    <app-custom-input [id]="'pswd'" [label]="'Password'" [type]="textInput" [required]="true"></app-custom-input>
    <app-custom-input [id]="'pswdr'" [label]="'Retype Password'" [type]="textInput" [required]="true"></app-custom-input>
    <app-custom-button [text]="'Register'" (click)="register($event)"></app-custom-button>
    <p>Not a client or having issues with your email? <a href="https://wa.me/523221035834" target="_blank">Contact Us</a></p>
  </div>
</div>