.info-header > * {
    padding: 0 20px;
    display: none;
}

img {
    height: 100px;
}

.flex {
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
}

.header {
  background-color: rgba(255, 255, 255, 0.75);
}

@media only screen and (min-width: 768px) {
    .info-header > * {
        display: inline-block;
    }
}
