@import '../../../../../styles.scss';

.flex {
  width: 50%;
}

.header {
  align-items: start;
}

h1 {
  font-weight: bold;
  color: $green;
}

h2 {
  margin-top: -10px;
  padding-top: 10px;
  border-top: 3px solid $dark-blue;
  font-size: 20px;
  padding-left: 15px;
  width: 400px;
}

.currency h3 {
  color: $pink;
}

.top-header {
  justify-content: space-between;
  flex-direction: column;
}

.client-list {
  width: 250px;
  border-bottom: 2px solid $dark-blue;
}

.client-list h3 {
  margin: auto 0;
}

p {
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
}

.checkbox {
  color: $dark-blue;
  height: 15px;
  width: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.client-list-list {
  align-items: flex-start;
  width: 50%;
  margin-top: 40px;
}

.client-list-list h3 {
  color: $dark-blue;
}

.add-client-button {
  margin-left: 15px;
}

@media only screen and (min-width: 768px) {
  .top-header {
    flex-direction: row;
  }
}
