<app-navigation-bar></app-navigation-bar>
<div *ngIf="class" class="col-flex">
  <div class="flex top-header">
    <div class="col-flex header">
      <h1>{{class.classLocation}} {{date | DayMonth}} - {{class.startTime.time}} {{class.startTime.meridiem}}</h1>
      <h2>{{class.days | DayOfWeek}}</h2>
    </div>
    <div class="col-flex currency">
      <h3>{{class.prices | Currency}}</h3>
      <app-custom-button [text]="'Cancel Class'" (click)="cancelClassModal()"></app-custom-button>
    </div>
  </div>
  <div class="col-flex client-list-list">
    <div class="col-flex header">
      <div class="flex client-list">
        <h3>Client List</h3>
        <app-custom-button [text]="'+'" (click)="addClientToClassModal()" class="add-client-button"></app-custom-button>
      </div>
      <div *ngFor="let client of class.clients" class="flex">
        <input class="checkbox" type="checkbox" (change)="checkInClient(client._id, $event)">
        <p>{{client.firstName}} {{client.lastName}}</p>
      </div>
      <div *ngIf="!class.clients.length">
        <p>You have no clients in this class yet</p>
      </div>
    </div>
    <div class="col-flex header">
      <h3 class="client-list">Waitlist</h3>
      <div *ngFor="let client of class.clients" class="flex">
        <input class="checkbox" type="checkbox" (change)="checkInClient(client._id, $event)">
        <p>{{client.firstName}} {{client.lastName}}</p>
      </div>
      <div *ngIf="!class.clients.length">
        <p>There is no one on the waitlist for this class</p>
      </div>
    </div>
  </div>
</div>

<app-custom-modal 
  [showModal]="showCancelModal"
  [title]="'You are about to cancel this class'" 
  [content]="getCancelClassText()"
  [buttons]="cancelClassButtons">
  <div content>
    <input type="checkbox">
  </div>
</app-custom-modal>

<app-custom-modal
  *ngIf="clients"
  [showModal]="showAddClientToClassModal"
  [title]="'Add client to class'"
  [content]="'Choose a client to add to this class.'"
  [buttons]="addClientToClassButtons">
  <div content [formGroup]="addClientForm">
    <app-custom-search-select 
      [id]="'clients'" [label]="'Select Client'" 
      [required]="true" formControlName="clientToAdd" [values]="clients"
      [error]="addClientForm.controls['clientToAdd'].invalid && addClientForm.controls['clientToAdd'].touched">
    </app-custom-search-select>
  </div>
</app-custom-modal>
