@import '../../../../../styles.scss';

.flex {
  width: 50%;
}

.outer-container {
  min-height: calc(100% - 45px);
}

.details-container {
  width: 40vw;
  background-color: $pale-blue;
  min-height: calc(100vh - 391px);
  padding: 0 35px;
  border-left: solid 4px $dark-blue;
  border-right: solid 4px $dark-blue;
}

.header {
  align-items: start;
}

.header > div {
  width: 100%;
}

.header h1 {
  margin: 5px 0;
  padding: 1px 0;
}

h1 {
  font-weight: bold;
  color: $green;
}

h2 {
  margin-top: -10px;
  padding-top: 10px;
  border-top: 3px solid $dark-blue;
  font-size: 20px;
  padding-left: 15px;
  width: 400px;
}

.currency h3 {
  color: $pink;
  margin-right: 200px;
  white-space: nowrap;
}

.top-header {
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.client-list {
  width: 250px;
  border-bottom: 2px solid $dark-blue;
}

.client-list h3 {
  margin: auto 0;
}

p {
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
}

.checkbox {
  color: $dark-blue;
  height: 15px;
  width: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.client-list-list {
  align-items: flex-start;
  width: 50%;
  margin-top: 40px;
  width: 100%;
}

.client-list-list h3 {
  color: $dark-blue;
}

.add-client-button {
  margin-left: 15px;
}

.sessions {
  width: 100%;
  justify-content: end;
}

.sessions span {
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .top-header {
    flex-direction: row;
  }
}
