@import '../styles.scss';

.header {
  display: block;
}

.content {
  background: url('../assets/pool-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: fit-content;
  width: 100%;
}

.footer {
  height: $footer-height;
  margin-top: -$footer-height;
}

@media only screen and (min-width: 768px) {
  $footer-height: 170px;

  .content {
    min-height: auto;
  }

  .footer {
    height: $footer-height;
    margin-top: -$footer-height;
  }
}
