$footer-height: 170px;

.header {
    display: block;
}

.content {
    min-height: calc(100vh - $footer-height);
}

.page-content {
  padding-bottom: $footer-height;
}

.footer {
  height: $footer-height;
  margin-top: -$footer-height;
}
