<div class="splash-container">
  <div class="light-text-shadow">
    <h1><span>COOL OFF</span>, <span class="green">EXERCISE</span>, <span class="pink">AND HAVE FUN!</span></h1>
  </div>
  <div class="benefits-container">
    <div class="benefit-1 heavy-text-shadow">
      <p>It doesn't matter if you are young, mature, fit, or want to be fit, AquaFit works for <span class="highlight">everyone</span>.</p>
    </div>
    <div class="benefit-2 heavy-text-shadow">
      <p>Water exercise works all of the muscles in your <span class="highlight">entire body</span>.</p>
    </div>
    <div class="benefit-3 heavy-text-shadow">
      <p>Aqua fitness exercises are <span class="highlight">low-impact</span>.</p>
    </div>
  </div>
</div>
