@import '../../colors.scss';
@import '../../styles.scss';

.nav {
  display: flex;
  text-align: right;
}

.nav li {
  background-color: $dark-blue;
  width: 100%;
  border-bottom: 1px solid black;
}

.nav a {
  height: 25px;
  display: block;
}

.menu {
  list-style-type: none;
  width: 100%;
  margin-bottom: 0;
  flex-direction: column;
  max-height: 45px;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.nav a {
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    color: white;
    position: relative;
}

.nav img {
    height: 30px;
    margin: 10px;
}

.menu-button {
    height: 45px;
}

@media only screen and (min-width: 768px) {
  .menu-button {
      display: none;
  }

  .menu {
    width: $content-width;
  }

  .nav ul {
    max-height: 100%;
  }

  .nav {
    background-color: $dark-blue;
    justify-content: center;
    text-align: left;
  }

  .nav li {
      width: fit-content;
  }

  .nav ul {
      flex-direction: row;
  }

  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $pink;
    bottom: 0px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
