<div class="nav">
  <ul class="flex list-unstyled menu">
    <li class="menu-button">
      <img src="../../assets/icons/menu.png" (click)="toggleMenu()" />
    </li>
    <li *ngIf="!userIsLoggedIn" class="login-mobile">
      <a [routerLink]="['login']">Login</a>
    </li>
    <li *ngIf="userIsLoggedIn" class="login-mobile">
      <a [routerLink]="['profile']">Profile</a>
    </li>
    <li>
      <a href="">Group Classes</a>
    </li>
    <li>
      <a href="">Private Classes</a>
    </li>
    <li>
      <a href="">Testimonials</a>
    </li>
  </ul>
  <ul class="list-unstyled menu-right end login-wide">
    <li *ngIf="!userIsLoggedIn">
      <a [routerLink]="['login']">Login</a>
    </li>
    <li *ngIf="userIsLoggedIn">
      <a [routerLink]="['profile']">Profile</a>
    </li>
  </ul>
</div>