@import 'colors.scss';
@import 'toastr.scss';

$content-width: 931px;
$footer-height: 290px;
$total-header-height: 175px;
$header-footer-height: $footer-height + $total-header-height;
$nav-height: 45px;
$footer-nav-height: $footer-height + $nav-height;
$all-height: $header-footer-height + $nav-height;

$header-blur: 10px;
$p-blur: 20px;

.content-container {
  flex-direction: column;
  background: url('assets/pool-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: flex;
}

.flex {
  display: flex;
  align-items: center;
}

.col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $footer-height + 80px);
  border-top: $nav-height solid $dark-blue;
}

a:hover, a:link {
  text-decoration: none;
}

.ml-2 {
  margin-left: 10px;
}

.mr-2 {
  margin-right: 10px;     
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.pink {
  color: $pink;
}

.light-text-shadow {
  text-shadow: 2px 0 $header-blur #fff, -2px 0 $header-blur #fff, 0 2px $header-blur #fff, 0 -2px $header-blur #fff,
      1px 1px $header-blur #fff, -1px -1px $header-blur #fff, 1px -1px $header-blur #fff, -1px 1px $header-blur #fff;
}

.heavy-text-shadow {
  text-shadow: 2px 0 $p-blur #fff, -2px 0 $p-blur #fff, 0 2px $p-blur #fff, 0 -2px $p-blur #fff,
      1px 1px $p-blur #fff, -1px -1px $p-blur #fff, 1px -1px $p-blur #fff, -1px 1px $p-blur #fff,
      3px 0 $p-blur #fff, -3px 0 $p-blur #fff, 0 3px $p-blur #fff, 0 -3px $p-blur #fff;
}

.form {
  background-color: rgba(255, 255, 255, 0.65);
  width: fit-content;
  height: fit-content;
  padding: 25px 50px;
  border: 2px solid $dark-blue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control-container {
  position: relative;
  margin-bottom: 5px;
}

.errorMessage {
  color: $error;
  position: absolute;
  font-weight: bold;
}

.toast-bottom-right {
  bottom: 25px !important;
  width: 100% !important;
  right: 50% !important;
  left: 45% !important;
}


@media only screen and (min-width: 768px) {
  .inner-content-container {
    height: calc(100vh - $footer-height - 10px);
  }

  .content-container {
    
  }
}

